body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    color: #333;
}
h3 {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}
.section-info {
    flex: 1;
}
.section-info h3, .section-info h4 {
    margin: 0;
    padding: 5px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}
table, th, td {
    border: 2px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color:#a8dadc;
    color:rgb(0, 0, 0);
}
tr:nth-child(odd) {
    background-color:bisque;
}
td{
    background-color: #f1faee;
    color: black;
}